In [1]:
df <- data.frame(
  status = c("Married", "Divorced", "Married", "Divorced", "Married", "Married", "Divorced"),
  location = c("New York", "Los Angeles", "New York", "Chicago", "Chicago", "Los Angeles", "New York")
)

print(df)

status_location_table <- table(df$status, df$location)

print(status_location_table)

    status    location
1  Married    New York
2 Divorced Los Angeles
3  Married    New York
4 Divorced     Chicago
5  Married     Chicago
6  Married Los Angeles
7 Divorced    New York

           Chicago Los Angeles New York
  Divorced       1           1        1
  Married        1           1        2